/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(213, 213, 213);
}
p{
  color: rgb(81, 15, 15);
  font-size: 2rem;
  font-weight: bold;
}
a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.clickable {
  user-select: none;
  cursor: pointer;
}
#btn, #btn2 {
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
#btn{
  background-color: rgb(168, 14, 130);
}
#btn2 {
  background-color: rgb(14, 168, 22);
}